<h1 class="title">Oficinas</h1>
<ul class="workshop-list">
    {{#each model as |workshop|}}
    <li>
        <strong>Nome:</strong> <label> {{ workshop.name }}</label>
        <strong>CNPJ:</strong> <label> {{ workshop.cnpj }}</label>
    </li>
    {{/each}}
</ul>

{{#link-to 'workshop.create'}}
    <button id="new-workshop">New Workshop</button>
{{/link-to}}
