<h1 class="title">Workshops</h1>
<ul class="workshop-list">
    {{#each model as |workshop|}}
    <li>{{ workshop.name }} - {{ workshop.cnpj }}</li>
    {{/each}}
</ul>

{{#link-to 'workshop.create'}}
    <button id="new-workshop">New Workshop</button>
{{/link-to}}
